body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../assets/billy-huynh-v9bnfMCyKbg-unsplash.jpg');
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

.weather-card {
  height: 400px;
  width: 400px;
  background-color: rgb(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  color: white;
}

.weather-card:hover {
  box-shadow: 5px 20px 20px white;
}

.weather-display {
  display: inline-block;
}

.temperature,
.description,
.humidity {
  padding: 5px;
}

button {
  background-color: lightblue;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  height: 40px;
}

button:hover {
  cursor: pointer;
}

.zip-code-input {
  border-radius: 10px;
  height: 35px;
  border: 1px solid white;
}

#error {
  color: red;
}
