body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../assets/billy-huynh-v9bnfMCyKbg-unsplash\ \(1\).jpg');
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

/* weather card  */
.weather-card {
  height: 430px;
  width: 430px;
  background-color: rgb(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  color: white;
  border: 3px solid white;
}

.weather-card:hover {
  box-shadow: 10px 20px 20px white;
}

img {
  height: 70px;
  width: 70px;
}
.weather-display {
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.temperature,
.description,
.humidity {
  padding: 5px;
  font-size: 18px;
}

button {
  background-color: #99d0f2;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  color: black;
}

button:hover {
  cursor: pointer;
}

.zip-code-input {
  border-radius: 10px;
  height: 35px;
  border: 1px solid white;
}

.zip-code {
  padding-top: 2rem;
}

#error,
#ziperror {
  color: red;
  padding: none;
}
